@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body{
 background-color: var(--backgrond-maincolor);
 font-family: 'Manrope', sans-serif;;
}
.main-Header{
  display: flex;
  align-items: center;
  position:fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  justify-content: space-evenly;
}

.list-Header{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.itemList-Header{
 margin: 25px;
 transition: 0.2s;
}
.itemList-Header a{
 text-decoration: none;
 color: var(--text-color);
}
.itemList-Header:hover,
.itemList-Header a:hover{
   transform: translate( 0px, -2.5px);
   color: var(--button-color);
   transition: 0.2s;
   cursor: pointer;

}

.button-Header{
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid var(--button-color);
  color: var(--text-color);
  background: none;
  padding: 11px 38px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

}

.button-Header:hover{
 border: 3px solid var(--button-color);
 color: var(--text-color);
 background-color:  var(--button-color);
 transform: translate(0px, -5px);
 cursor: pointer;
 transition: 0.2s;

}


